/*------ SECTION TRABAJOS-------*/

.trabajos_introduccion{
    p{
        font-size: 1.2em;
        text-align: center;
        padding: 1rem;
        margin: 5rem  5rem 0 5rem;
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
             -7px -7px 2px #ffffff;
    };
}

.seccion_casaurquiza{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5rem 1.5rem;
    
    .texto_contenedor{
        width: 40vw;
        padding: 0 1.5rem;
        text-align: left;
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
         -7px -7px 2px #ffffff;
    }
    .carrusel_contenedor{
        width: 50vw;
    }
}


/* Galeria Casa Vallejos*/

.seccion_casavallejos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 0 5rem 0;
    .vallejos_texto{
        padding: 3rem 0 5rem 0;
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
                    -7px -7px 2px #ffffff;
        
        p{
            padding: 0 1rem;
        }
    }

    .contenedor_imagenes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: .5rem;
        .imagenes{
            img{
                width: 25rem;
                transition: all .2s;
            }
            img:hover{
                opacity: 0.7;
            }
        }
    }
}


/*CASA SULMAN*/
.seccion_sulman{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 5rem 5rem 5rem;
    gap: 5rem;
    .sulman_texto{
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
                    -7px -7px 2px #ffffff;
        padding: 5rem 1rem 5rem 1rem;
    }
}