/*------ SECTION TRABAJOS-------*/

.trabajos_introduccion{
    p{
        font-size: 1.2em;
        text-align: center;
        padding: 1rem;
        margin: 5rem  5rem 0 5rem;
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
             -7px -7px 2px #ffffff;
    };
}

.seccion_casaurquiza{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5rem 1.5rem;
    
    .texto_contenedor{
        width: 40vw;
        padding: 0 1.5rem;
        text-align: left;
        border-radius: 19px;
        background: #dedede;
        box-shadow:  7px 7px 2px #bdbdbd,
         -7px -7px 2px #ffffff;
    }
    .carrusel_contenedor{
        width: 50vw;
    }
}

/* Galeria Casa Vallejos*/
.galeriaCasaVallejos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    
}

.galeriaCasaVallejos div img {
    width: 300px;
}

.galeriaCasaVallejos div img {
    transition: all 1s;
}

.galeriaCasaVallejos div :hover {
    transform: scale(1.10, 1.10);
}