/* IMPORTS */
@import "generales";
@import "index";
@import "servicios";
@import "trabajos";
@import "empresa";
@import "contacto";

/* RESPONSIVE */
@media (max-width:1920px){
    

    /*index*/
    .inicio{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .inicio_texto{
            text-align: center;
            margin: 10rem;
        }
        .inicio_imagen{
            height: 90vh;
            width: 50vw;
        border-bottom-left-radius: 0px;
        }
    }


    .lista_footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .lista_items{
            list-style-type: none;
            padding: .5rem;
            a{
                text-decoration: none;
                color: black;
                padding: .5rem;
                transition: all .1s;
                font-size: 1rem;
            }

            a:hover{
                box-shadow: 0 2px red;
                color: red;
            }

            a:active{
                box-shadow: 0 2px red;
            }
        }
    }
}

@media (max-width: 1200px){

    /* INDEX RESPOSIVE*/
    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
        }
        .inicio_texto{
            font-size: 7rem;
            font-family: 'Zen Tokyo Zoo', cursive;
            text-align: center;
            margin-top: 2rem;
            --animate-duration: 1s;
        }
    }

    .intro {
        .intro__Texto {
            text-align: left;
            font-size: 1em;
            padding: 100px auto 20px auto;
            --animate-duration: 3s;
        }
    }

    /*TRABAJOS RESPONSIVE*/
    .seccion_casaurquiza{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        .texto_contenedor{
            padding: 0;
            width: 90vw;
            margin-bottom: 2.5rem;
        }
        .carrusel_contenedor{
            width: 90vw;
            text-align: center;
        }
    }

    .seccion_casavallejos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
        .contenedor_imagenes{
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            grid-template-rows: repeat(4 , 1fr);
            gap: .5rem;
        }
    }


    .seccion_sulman{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        .sulman_texto{
            padding: 1rem ;
        }
        .carrusel_contenedor{
            width: 90vw;
        }
    }
}

@media (max-width: 1000px){

    /*header*/
    a:hover {
        background-color: #F0F0F0;
    }

    /*index*/
    .inicio_imagen{
        display: none;
    }

    /* FOOOTER RESPONSIVE*/
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /*TRABAJOS RESPONSIVE*/
    .galeriaCasaUrquiza{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px;
        gap: 20px;
    }
}

@media (max-width: 768px){

    /*INICIO*/

    /*MENU FOOTER*/
    .lista_footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        padding: 0px;

        .lista_items{
            padding: 0px;
            a{
                padding: 0rem;
            }
        }
    }

    /*EMPRESA*/
    .sectionEmpresa{
        display: flex;
        flex-direction: column;
        .empresa__imagen{
            margin-top: 4rem;
            width: auto;
        }
    }
}